<h5>Customize AdminLTE</h5>
<hr class="mb-2" />
<div style="padding: 8px 0">
    <app-pdt-checkbox (change)="handleDarkModeChange($event)" label="Dark Mode">
    </app-pdt-checkbox>
    <app-pdt-selector label="Light Navbar Variants" [options]="navbarLightVariants"
        (change)="onNavbarVariantChange($event)">
    </app-pdt-selector>
    <app-pdt-selector label="Dartk Navbar Variants" [options]="navbarDarkVariants"
        (change)="onNavbarVariantChange($event)">
    </app-pdt-selector>
    <app-pdt-selector label="Light Navbar Variants" [options]="navbarLightVariants"
        (change)="onNavbarVariantChange($event)">
    </app-pdt-selector>

    <app-pdt-selector [options]="lightSidebarSkins" label="Light Sidebar Variants"
        (change)="onSidebarSkinChange($event)">
    </app-pdt-selector>
    <app-pdt-selector [options]="darkSidebarSkins" label="Dark Sidebar Variants" (change)="onSidebarSkinChange($event)">
    </app-pdt-selector>


</div>